Source: dns-tor-proxy
Section: net
Priority: optional
Maintainer: FMJAL <felixaltenbach0@gmail.com>
Build-Depends: debhelper-compat (= 13), golang-go, systemd, tor, upx
Standards-Version: 4.5.0
Homepage: https://github.com/fmjal/dns-tor-proxy
Vcs-Git: https://github.com/fmjal/dns-tor-proxy.git

Package: dns-tor-proxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, systemd, systemd-resolved, tor
Description: DNS to Tor Proxy
 A proxy service that routes DNS queries through Tor.
 Provides a systemd service that can be enabled to proxy DNS requests through the Tor network.
