Source: dns-tor-proxy
Section: net
Priority: optional
Maintainer: fmjal <felixaltenbach0@gmail.com>
Build-Depends: debhelper-compat (= 13), golang-any, systemd, tor, upx
Standards-Version: 4.5.0
Homepage: https://github.com/´fmjal/dns-tor-proxy
Vcs-Git: https://github.com/fmjal/dns-tor-proxy.git

Package: dns-tor-proxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, systemd-resolved, tor
Description: DNS to Tor Proxy
 A proxy service to route DNS queries through Tor.

